
.controls{
  position: absolute;
  top: 1.25rem;
  left: 0;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  gap: 0.5rem;
  z-index: 10;
}

button.control-button{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: #f9fafb;
  border: 1px solid #d1d5db;
  color: #1f2937;
  border-radius: 0.25rem;
  transition: background-color 0.2s;
}

.legend-box {
  position: absolute;
  top: 5rem;       /* top-20 */
  right: 2.5rem;   /* right-10 */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1),
              0 1px 2px rgba(0, 0, 0, 0.06); /* shadow */
  padding: 1rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  z-index: 10;
}

.legend-box > * + * {
  margin-top: 0.5rem; /* space-y-2 */
}

.legend-dot{
  top: 5rem;
  right: 2.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  z-index: 10;
  margin-right:0.5rem;
}
