[secrets]
# enter your own ElevenLab api key here if you have one
elevenlabs_api_key=your_own_key

[folders]
input_folder=scenario
output_folder=voices

[app]
debug=1
# converter can be [text | prod | dev]
converter=dev
