[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 88
target-version = ['py38']

[tool.isort]
profile = "black"
line_length = 88

[tool.pytest]
testpaths = ["tests"]

[tool.pytest.ini_options]
pythonpath = "src"

[project]
name = "pybughunt"
version = "0.2.0"
description = "A Python library for detecting logical and syntactical errors in Python code"
readme = "README.md"
requires-python = ">=3.8"
license = { text = "MIT" }
authors = [
    { name = "Preksha Upadhyay", email = "prekshaupadhyay03@gmail.com" }
]
keywords = ["code", "python", "error", "detection", "static analysis"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9"
]
dependencies = [
    "numpy>=1.20.0",
    "scikit-learn>=1.0.0",
    "torch>=1.9.0",
    "transformers>=4.12.0",
    "astroid>=2.8.0",
    "pylint>=2.11.0"
]
