.jp-ToolbarButton.jp-RevertCheckpoint {
  background-color: var(--jp-layout-color1);
}

.jp-RevertCheckpoint-dialog {
  min-width: 300px;
}

.jp-RevertCheckpoint-dialog select {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: var(--jp-ui-font-family);
  font-size: var(--jp-ui-font-size1);
  padding: 8px;
}

.jp-RevertCheckpoint-dialog option {
  padding: 6px;
}
