/* 控制导航栏 Logo 大小 */
.md-header__button.md-logo img {
    width: 80px; /* 最大宽度 */
    height: 60px; /* 最大高度 */
    object-fit: contain; /* 保持比例 */
}

.md-header__button.md-logo svg {
    width: 80px; /* 最大宽度 */
    height: 60px; /* 最大高度 */
    object-fit: contain; /* 保持比例 */
}