[project]
name = "eppy-stubs"
version = "0.1.0"
description = "Eppy type stubs for the eppy package"
readme = "README.md"
authors = [
    { name = "Samuel Letellier-Duchesne", email = "samuelduchesne@me.com" }
]
requires-python = ">=3.9, <4.0"
classifiers = [
    "Typing :: Stubs Only",
    "Programming Language :: Python :: 3",
]
keywords = ["eppy", "typing", "stubs"]
dependencies = []

[project.optional-dependencies]
eplus2310 = ["types-eplus2310"]

[tool.uv.sources]
types-eplus2310 = { path = "../types-eplus2310" }

[build-system]
requires = ["uv_build>=0.8.4,<0.9.0"]
build-backend = "uv_build"
[tool.ruff]
target-version = "py39"
line-length = 120
fix = true

[tool.ruff.lint]
select = [
    # flake8-2020
    "YTT",
    # flake8-bandit
    "S",
    # flake8-bugbear
    "B",
    # flake8-builtins
    "A",
    # flake8-comprehensions
    "C4",
    # flake8-debugger
    "T10",
    # flake8-simplify
    "SIM",
    # isort
    "I",
    # mccabe
    "C90",
    # pycodestyle
    "E", "W",
    # pyflakes
    "F",
    # pygrep-hooks
    "PGH",
    # pyupgrade
    "UP",
    # ruff
    "RUF",
    # tryceratops
    "TRY",
]
ignore = [
    # LineTooLong
    "E501",
    # DoNotAssignLambda
    "E731",
]

[tool.ruff.format]
preview = true
