QFrame {
    background-color: #313734;
}

QWidget#menubar_obj, QWidget#status_bar_obj {
    background-color: #313734;
    color: #82edd8;
}

QFrame QSlider::groove:horizontal {
    border-radius: 1px;
    height: 3px;
    margin: 0px;
    background-color: #222610;
}

QFrame QSlider::groove:horizontal:hover {
    background-color: #21e4e4;
}

QFrame QSlider::handle:horizontal {
    background-color: #728C00;
    border: none;
    height: 40px;
    width: 20px;
    margin: -10px 0;
    border-radius: 10px;
    padding: -20px 0px;
}

QFrame QSlider::groove:vertical {
    border-radius: 1px;
    width: 3px;
    margin: 0px;
    background-color: #222610;
}

QFrame QSlider::groove:vertical:hover {
    background-color: #21e4e4;
}

QFrame QSlider::handle:vertical {
    background-color: #728C00;
    border: none;
    width: 40px;
    height: 20px;
    margin: 0px -10px;
    border-radius: 10px;
    padding: 0px -20px;
}

QFrame QSlider:focus {
    background-color: #0ba4a4;
}

QFrame QLabel {
    color: #82edd8;
    font-size: 14px;
}

QFrame QPushButton {
    background-color: #728C00;
}

QFrame QPushButton:hover {
    background-color: #e7ff00;
}

QFrame QPushButton:focus {
    border: 2px solid #0ba4a4;
    border-radius: 3px;
}

QWidget#kb_win {
    background-color: #82edd8;
}

QWidget#op_win>QLabel {
    background-color: #82edd8;
    color: #000000;
    border-radius: 3px;
    font-size: 20px;
}

QWidget#op_win, QWidget#k_recall_win, QWidget QLabel#bl_label, QWidget QLabel#sr_label {
    background-color: #728C00;
}

QWidget#op_win>QSlider::groove:horizontal {
    border-radius: 1px;
    height: 3px;
    margin: 0px;
    background-color: #018368;
}

QWidget#op_win>QSlider::handle:horizontal {
    background-color: #313734;
    border: none;
    height: 40px;
    width: 20px;
    margin: -10px 0;
    border-radius: 10px;
    padding: -20px 0px;
}

QWidget#op_win>QSlider::handle:horizontal:hover {
    background-color: #e7ff00;
}

QWidget#op_win>QSlider::groove:horizontal:hover {
    background-color: #21e4e4;
}

QWidget QListWidget {
    background-color: #ffffff;
}

QWidget#kb_win {
    background-color: #82edd8;
}

QWidget#ck_win, QWidget#mssg_win, QWidget#k_preset_win {
    background-color: #728C00;
}

QWidget#ck_win>QLabel, QWidget#k_recall_win>QLabel {
    background-color: #723C00;
    color: #000000;
    font-size: 14px;
}

QWidget#mssg_win>QLabel, QWidget#k_preset_win>QLabel {
    background-color: #728C00;
    color: #000000;
    font-size: 20px;
}

QWidget#ck_win>QLabel#l_label {
    background-color: #82edd8;
    color: #000000;
    font-size: 16px;
}

QWidget#midi_win {
    background-color: #728C00;
}

QWidget#midi_win>QLabel {
    background-color: #728C00;
    color: #000000;
    border-radius: 3px;
    font-size: 15px;
}

QWidget#preset_win {
    background-color: #728C00;
}

QWidget#preset_win>QLabel {
    background-color: #728C00;
    color: #000000;
    border-radius: 3px;
    font-size: 15px;
}

QWidget#p_recall_win {
    background-color: #728C00;
}

QWidget#p_recall_win>QLabel {
    background-color: #728C00;
    color: #000000;
    font-size: 14px;
}

QListWidget {
    color: #000000;
}

