:root {
  --font: "Raleway" sans-serif;
  --font-size: 10px;
  --white: #ffffff;
  --black: #000000;
  --blue: steelblue;
  --red: red;
  --grey: lightgrey;
  --light-green: #1abc9c;
}

/* General chart formatting */
body,
html {
  font-family: var(--font);
  margin: 0;
}

svg {
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: visible;
}

/* Tip formatting */

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 8px;
  background: var(--grey);
  color: var(--white);
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: var(--font-size);
  width: 100%;
  line-height: 1;
  color: var(--grey);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

