.stAppHeader {
    display: none !important;
}

.md-typeset iframe {
    width: 100% !important;
    height: 100% !important;
}

.playground-container {
    display: flex;
    height: 100%;
}

.playground-container .playground-editor {
    display: flex;
    flex: 1;
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.playground-container .playground-editor .code-editor-container {
    display: flex;
    flex: 1;
    margin-right: 0;
}

.playground-container .playground-editor .code-editor-container .cm-theme {
    width: 100%;
}

.playground-container .playground-preview {
    display: flex;
    flex: 1;
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.playground-container .playground-preview .iframe-container {
    width: 100%;
    min-height: 500px;
}
