name: Build

on:
  push:
    branches:
      - "*"
  pull_request:
  workflow_call:

env:
  # https://docs.astral.sh/uv/guides/integration/github/#using-uv-pip
  UV_SYSTEM_PYTHON: 1

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: false
      
      - name: Install dependencies
        run: uv pip install -e . --group test --group build

      - name: Run tests
        run: python -m pytest -v

      - name: Build package
        run: python -m build

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: dist
