.marginnote code { 
    font-size: 0.9rem;
  }


.marginnote { float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 0.8rem;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.marginnote a {font-size: 1.0rem;
color: #777;  }


li .marginnote  { float: right;
    clear: right;
    margin-right: -64.52%;
    width: 53.76%;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.0rem;
    line-height: 1.96;
    vertical-align: baseline;
    position: relative; }